<div id="<%= dom_id appointment %>">
  <p>
    <strong>Name:</strong>
    <%= appointment.name %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= appointment.lastname %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= appointment.number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= appointment.email %>
  </p>

  <p>
    <strong>City:</strong>
    <%= appointment.city %>
  </p>

  <p>
    <strong>Remark:</strong>
    <%= appointment.remark %>
  </p>

</div>
